/* nav section */

nav ul li {
  padding: 0 8px;
}

nav ul li a {
  color: #2a1e59;
  font-size: 16px;
  font-weight: 600;
}

/* banner section */
#banner,
header,
.navbar {
  background-color: #fffff4 !important;
}
.banner-title {
  color: #2a1e59;
  font-weight: bold;
}
.another-title {
  color: #76c27e;
}

/* perfect fit section */

#perfect-fit h3 {
  color: #2a1e59c7;
  font-weight: 700;
}

#perfect-fit .col {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
  padding: 10px;
  border-radius: 10px;
}

.btn-buy {
  background-color: #2a1e59 !important;
  color: white !important;
  padding: 10px 12px !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}

.price {
  color: #76c27e;
  font-size: 35px;
  font-weight: 600;
}

#casual-backpack h2,
#travel-backpack h2,
#latest-offers h2 {
  color: #2a1e59;
  font-weight: 700;
  margin-bottom: 20px;
}

#casual-backpack h5,
#travel-backpack h5,
#latest-offers h5 {
  color: #2a1e59;
  font-size: 22px;
  font-weight: 700;
}

#casual-backpack img,
#travel-backpack img {
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 20px;
}

.fa {
  font-size: 18px !important;
  margin-right: 6px;
  padding-top: 5px;
}

.card {
  padding: 10px;
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 5px 5px 10px lightgray !important;
}

/* LATEST SECTION */

#latest-offers .price {
  font-size: 20px;
  color: #2a1e59;
  margin-top: 5px;
}

#latest-offers .btn-buy {
  background-color: #2a1e59 !important;
  font-size: 12px;
  color: white !important;
  /* padding: 8px 10px !important; */
  font-weight: 600 !important;
  border-radius: 10px !important;
}

#latest-offers .fa {
  font-size: 15px !important;
  margin-right: 3px;
  padding-top: 2px;
}

del {
  color: red;
}
